.container-fluid{

    margin: top 20px; ;
}

p {
  font-size: 1vw;
  margin-top: 10px;
}

.Botãomodal{
  text-align: center;
}
.btn{background: #1ab1b1; color:#fff; font-weight:600;}
.bt1{background: #b93434; color:#fff; font-weight:600;}
.bt2{background: #d88383; color:#fff; font-weight:600;}
.bt22{background: #6acccc; color:#fff; font-weight:600;}

.card-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px; height: 80px; 
  border-color: cadetblue;
  width: 70%
}
#img1{
  
    height: 250px;
    width: 100%;
    
}

#cardcol{
  width: 100%;
  background-color: #6acccc;
}
#nav-home-tab{
  background-color: #6acccc;
}

.btnt{
  color: #33adae;
}

.card-title{
  color: #33adae;
}

h2{
  font-family: Georgia, serif;
  color: #33adae;
}






.btn6{
  color: #33adae;
}
.navbar{
  background: #ffffff;
}
.a{
   background: crimson;
}

.circle {
  background-color: #aaa;
  border-radius: 100%;
  width: 42px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
 
 .circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}