.btn-login{background: #b45021; color:#fff; font-weight:600;}
.bt2{background: #1ab1b1; color:#fff; font-weight:600;}

.card-columns{
    width: 25%;
}
h2{
    font-family: Georgia, serif;
    color: #eff5f5;
  }
  .btnt{
    font-family: Georgia, serif;
    color: #33adae; 
  }
  #cardf{
      background-color:#33adae ;
  }